<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0.1"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ur5-joint-position-control)/urdf/ur5_jnt_pos_ctrl.urdf'" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="paused" value="true" />
  </include>

  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" 
    args="-param robot_description -urdf -x $(arg x) -y $(arg y) -z $(arg z) -model ur5 -J shoulder_lift_joint -1.5 -J elbow_joint 1.0" />

  <include file="$(find ur5-joint-position-control)/launch/ur5_joint_position_control.launch" />

</launch>
